<% provide(:title, "料金") %>

<div class="min-h-screen flex flex-col">
        <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto mt-8">
            <h1 class="text-7xl mt-20 mb-10">ー 料金 ー</h1>
                
              
                    <h3 class="m-5 text-5xl font-bold border-b-4 border-black w-full">会員の方</h3>
                    <p class="w-full text-3xl">月額：2,200円（税込）</p>
                    <p class="w-full text-3xl">ジム利用：１時間利用ごとに500円（税込）</p>
                    <p class="w-full text-3xl">パーソナルトレーニング：4,400円（税込）</p>
                    <p class="w-full text-3xl mb-5">整体：4,400円（税込）</p>
                    <p class="w-full text-3xl">・入会手数料：7,700円（入会費5,500円＋セキュリティー発行料2,200円がかかります。）</p>
                    <p class="w-full text-3xl">18歳以下のご利用については、事前に親権の同意書が必要になります。</p>
  

                    <h3 class="mt-20 mb-5 text-5xl font-bold border-b-4 border-black w-full">非会員の方</h3>
                    <p class="w-full text-3xl">パーソナルレーニング：6,600円（税込）</p>
                    <p class="w-full text-3xl mb-5">整体：6,600円（税込）</p>
                    <p class="w-full text-3xl mb-32">・月額会員にならずに1回ごとのお支払いでご利用いただけます。</p>
                    

      
                
        </div>
    </div>
