<% provide(:title, "店舗一覧") %>


<div class="min-h-screen flex flex-col">
        <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto mt-8">
            <h1 class="text-7xl mt-20 mb-20">ー 店舗一覧 ー</h1>
                <div class="flex flex-col justify-center items-center">
                  <h2 class="font-bold text-4xl m-5">広島県府中店</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.609976262238!2d133.25207207648518!3d34.56342927296888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35511911d8eabe1d%3A0x835baaafc3f0f44d!2z44Kt44K344Oe44Kz44K444Og!5e0!3m2!1sja!2sjp!4v1700917665584!5m2!1sja!2sjp" 
                    width="600" 
                    height="450"
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    class="mb-10"
                    >
                    </iframe>

                    <div class="border-b-4 border-black w-full text-3xl mb-64"
                    style="line-height: 1.5;"
                    >
                        <p>住所：〒726-0011 広島県府中市広谷町879-3</p>
                        <p>駐車場：3台</p>
                        <p>TEL：080-1648-5870</p>
                        <p>メール：jo.so.toshi.0208@gmail.com</p>
                        <p>営業時間：24​時間営業 年中無休</p>
                        <p>スタッフタイム：
                            月曜・土曜　10：00〜20：00、水曜　10：00〜15：00
                        </p>
                    </div>
                </div>


                <div class="flex flex-col justify-center items-center mb-64">
                  <h2 class="font-bold text-4xl m-5">広島県尾道店</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.609976262238!2d133.25207207648518!3d34.56342927296888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35511911d8eabe1d%3A0x835baaafc3f0f44d!2z44Kt44K344Oe44Kz44K444Og!5e0!3m2!1sja!2sjp!4v1700917665584!5m2!1sja!2sjp" 
                    width="600" 
                    height="450"
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    class="mb-10"
                    >
                    </iframe>

                    <div class="border-b-4 border-black w-full text-3xl"
                    style="line-height: 1.5;"
                    >
                        <p>住所：〒726-0011 広島県府中市広谷町879-3</p>
                        <p>駐車場：3台</p>
                        <p>TEL：080-1648-5870</p>
                        <p>メール：jo.so.toshi.0208@gmail.com</p>
                        <p>営業時間：24​時間営業 年中無休</p>
                        <p>スタッフタイム：
                            月曜・土曜　10：00〜20：00、水曜　10：00〜15：00
                        </p>
                    </div>
                </div>


                <div class="flex flex-col justify-center items-center mb-32">
                  <h2 class="font-bold text-4xl m-5">島根県出雲店</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.609976262238!2d133.25207207648518!3d34.56342927296888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35511911d8eabe1d%3A0x835baaafc3f0f44d!2z44Kt44K344Oe44Kz44K444Og!5e0!3m2!1sja!2sjp!4v1700917665584!5m2!1sja!2sjp" 
                    width="600" 
                    height="450"
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    class="mb-10"
                    >
                    </iframe>

                    <div class="border-b-4 border-black w-full text-3xl"
                    style="line-height: 1.5;"
                    >
                        <p>住所：〒726-0011 広島県府中市広谷町879-3</p>
                        <p>駐車場：3台</p>
                        <p>TEL：080-1648-5870</p>
                        <p>メール：jo.so.toshi.0208@gmail.com</p>
                        <p>営業時間：24​時間営業 年中無休</p>
                        <p>スタッフタイム：
                            月曜・土曜　10：00〜20：00、水曜　10：00〜15：00
                        </p>
                    </div>
                </div>
        </div>
    </div>

