<% provide(:title, "スタッフ紹介") %>


<div class="min-h-screen flex flex-col">
        <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto mt-8">
            <h1 class="text-7xl mt-20 mb-20">ー スタッフ紹介 ー</h1>
                <div class="flex flex-col justify-center items-center">
                    <%= image_tag("blank-profile-picture-973460_1280.png", class: "w-1/3 border-b-4") %>
                    <div class="mt-5 border-t-4 border-black w-full">
                    <p class="mt-5 font-bold text-4xl">
                    名前: <span class="text-3xl">しまたに　りゅうき</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    出身地: <span class="text-3xl">広島県尾道市</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    資格: <span class="text-3xl">基本情報技術者</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    趣味: <span class="text-3xl">筋トレ / サッカー</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    座右の銘: <span class="text-3xl">成功は興味から知り、学び、行動したものに訪れる</span>
                    </p>
                    <p class="mt-5 mb-64 font-bold text-4xl border-b-4 border-black w-full">
                    一言コメント: <span class="text-3xl">府中市を中心に地域の方々に少しでも運動や健康についての理解を深めていただき、町全体が活気に満ち溢れるよう日々精進していきますので、小さなことでもお気軽にご相談ください。</span>
                    </p>
                    </div>
                </div>

                <div class="flex flex-col justify-center items-center">
                    <%= image_tag("blank-profile-picture-973460_1280.png", class: "w-1/3 border-b-4") %>
                    <div class="mt-5 border-t-4 border-black w-full">
                    <p class="mt-5 font-bold text-4xl">
                    名前: <span class="text-3xl">しまたに　りゅうき</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    出身地: <span class="text-3xl">広島県尾道市</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    資格: <span class="text-3xl">基本情報技術者</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    趣味: <span class="text-3xl">筋トレ / サッカー</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl">
                    座右の銘: <span class="text-3xl">成功は興味から知り、学び、行動したものに訪れる</span>
                    </p>
                    <p class="mt-5 font-bold text-4xl mb-32">
                    一言コメント: <span class="text-3xl">府中市を中心に地域の方々に少しでも運動や健康についての理解を深めていただき、町全体が活気に満ち溢れるよう日々精進していきますので、小さなことでもお気軽にご相談ください。</span>
                    </p>
                    </div>
                </div>
        </div>
    </div>