<% provide(title: "予約一覧")%>

<div class="flex flex-col mb-32">
  <div class="max-w-screen-xl mx-auto mt-8">
    <div class="flex flex-col justify-center items-center">
      <h1 id="mypage-title" class="text-7xl mt-20 mb-20">ー 予約一覧 ー</h1>
      <p class="text-xl mb-5">2ヶ月先まで予約することができます。</p>
    </div>

    <% flash.each do |type, message| %>
        <div class="<%= type %>">
        <%= message %>
        </div>
    <% end %>


    <div class="col-span-12  md:col-span-6 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>

  </div>
</div>
