<footer >
<div class="bg-black text-white">
    <div class="max-w-screen-xl mx-auto py-6">
        <p>住所:〒726-0011 広島県府中市広谷町879-3</p>
        <p>電話番号:080-1648-5870</p>
        <p>E-mail:jo.so.toshi.0208@gmai.com</p>
        <p>公式LINE:@008aqhoo</p>
        <p>Instagram:kishimako.gym</p>
        <p>©kishimako.com</p>
    </div>
</div>
</footer>